# Never commit API keys
Secrets.swift

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/

# Dependency managers
Pods/
Carthage/Build/

# macOS
.DS_Store
